In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
url = "https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/grades.json"

In [3]:
df = pd.read_json(url, lines=True)
df

,_id,student_id,class_id,scores
0,{'$oid': '50b59cd75bed76f46522c34e'},0,2,"[{'type': 'exam', 'score': 57.92947112575566},..."
1,{'$oid': '50b59cd75bed76f46522c34f'},0,28,"[{'type': 'exam', 'score': 39.17749400402234},..."
2,{'$oid': '50b59cd75bed76f46522c350'},0,5,"[{'type': 'exam', 'score': 88.22950674232497},..."
3,{'$oid': '50b59cd75bed76f46522c351'},0,16,"[{'type': 'exam', 'score': 59.1805667559299}, ..."
4,{'$oid': '50b59cd75bed76f46522c352'},0,24,"[{'type': 'exam', 'score': 4.444435759027499},..."
...,...,...,...,...
275,{'$oid': '50b59cd75bed76f46522c461'},48,10,"[{'type': 'exam', 'score': 19.75901367795435},..."
276,{'$oid': '50b59cd75bed76f46522c462'},48,14,"[{'type': 'exam', 'score': 66.79008851052096},..."
277,{'$oid': '50b59cd75bed76f46522c463'},48,8,"[{'type': 'exam', 'score': 87.50309579619501},..."
278,{'$oid': '50b59cd75bed76f46522c464'},48,15,"[{'type': 'exam', 'score': 17.49112864462374},..."
279,{'$oid': '50b59cd75bed76f46522c465'},49,29,"[{'type': 'exam', 'score': 26.67878234847454},..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 280 entries, 0 to 279
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         280 non-null    object
 1   student_id  280 non-null    int64
 2   class_id    280 non-null    int64
 3   scores      280 non-null    object
dtypes: int64(2), object(2)
memory usage: 10.9+ KB

Removing unwanted data

In [5]:
#such as in id = {'$oid': '50b59cd75bed76f46522c34e'} we only need '50b59cd75bed76f46522c34e' so
for i in range(df.shape[0]):
    #In '_id' is a dictionary and extract the value of '$oid'
    df['_id'] = df['_id'].apply(lambda x: x['$oid'] if isinstance(x, dict) and '$oid' in x else x)

In [6]:
df

,_id,student_id,class_id,scores
0,50b59cd75bed76f46522c34e,0,2,"[{'type': 'exam', 'score': 57.92947112575566},..."
1,50b59cd75bed76f46522c34f,0,28,"[{'type': 'exam', 'score': 39.17749400402234},..."
2,50b59cd75bed76f46522c350,0,5,"[{'type': 'exam', 'score': 88.22950674232497},..."
3,50b59cd75bed76f46522c351,0,16,"[{'type': 'exam', 'score': 59.1805667559299}, ..."
4,50b59cd75bed76f46522c352,0,24,"[{'type': 'exam', 'score': 4.444435759027499},..."
...,...,...,...,...
275,50b59cd75bed76f46522c461,48,10,"[{'type': 'exam', 'score': 19.75901367795435},..."
276,50b59cd75bed76f46522c462,48,14,"[{'type': 'exam', 'score': 66.79008851052096},..."
277,50b59cd75bed76f46522c463,48,8,"[{'type': 'exam', 'score': 87.50309579619501},..."
278,50b59cd75bed76f46522c464,48,15,"[{'type': 'exam', 'score': 17.49112864462374},..."
279,50b59cd75bed76f46522c465,49,29,"[{'type': 'exam', 'score': 26.67878234847454},..."

In [7]:
df.scores[0]

[{'type': 'exam', 'score': 57.92947112575566},
 {'type': 'quiz', 'score': 21.24542588206755},
 {'type': 'homework', 'score': 68.1956781058743},
 {'type': 'homework', 'score': 67.95019716560351},
 {'type': 'homework', 'score': 18.81037253352722}]

Making 3 columns -> exam_score, quiz_score, homework_score
Final output -> id, student_id, class_id, exam_score, quiz_score, homework_score

In [8]:
#List Comprehension
#approach 1
exam_score = [round(float(re.sub('^{.*: |}', '', str(df['scores'][i][0]))), 2) for i in range(len(df['scores']))]
quiz_score = [round(float(re.sub('^{.*: |}', '', str(df['scores'][i][1]))), 2) for i in range(len(df['scores']))]

In [9]:
exam_score

[57.93,
 39.18,
 88.23,
 59.18,
 4.44,
 14.34,
 18.2,
 56.82,
 60.19,
 58.83,
 30.93,
 63.1,
 47.39,
 24.05,
 80.62,
 68.93,
 5.23,
 70.33,
 76.02,
 35.48,
 47.72,
 88.81,
 95.99,
 95.8,
 86.26,
 8.94,
 31.09,
 0.6,
 5.47,
 44.49,
 46.18,
 60.14,
 91.6,
 0.65,
 67.51,
 15.37,
 73.48,
 73.04,
 21.58,
 43.65,
 22.39,
 33.4,
 46.18,
 98.35,
 55.41,
 7.22,
 62.87,
 54.54,
 24.77,
 28.34,
 62.6,
 7.34,
 43.23,
 89.13,
 40.25,
 11.46,
 85.3,
 84.87,
 58.04,
 32.06,
 68.49,
 64.93,
 73.51,
 56.73,
 85.31,
 24.14,
 76.44,
 85.21,
 69.18,
 46.41,
 8.56,
 13.21,
 9.88,
 49.62,
 43.93,
 30.86,
 78.2,
 26.99,
 74.52,
 93.69,
 83.05,
 99.7,
 79.77,
 99.49,
 36.82,
 22.32,
 94.08,
 4.44,
 84.22,
 26.11,
 77.02,
 53.36,
 25.84,
 69.74,
 25.58,
 96.97,
 75.93,
 65.21,
 43.78,
 50.45,
 28.45,
 47.52,
 19.1,
 49.38,
 24.21,
 16.78,
 46.16,
 33.73,
 18.14,
 92.88,
 86.11,
 12.07,
 7.23,
 61.47,
 46.2,
 64.0,
 55.94,
 27.69,
 82.81,
 32.89,
 89.94,
 90.03,
 47.17,
 21.11,
 30.87,
 55.05,
 84.12,
 50.24,
 88.67,
 39.86,
 49.56,
 21.96,
 92.68,
 5.58,
 18.56,
 68.06,
 3.06,
 71.88,
 18.26,
 80.37,
 18.66,
 16.92,
 54.63,
 39.81,
 44.98,
 61.5,
 22.98,
 60.29,
 14.0,
 44.08,
 3.8,
 42.23,
 46.27,
 76.7,
 82.15,
 68.82,
 62.48,
 77.15,
 18.49,
 34.14,
 91.1,
 48.54,
 13.57,
 63.16,
 63.87,
 7.2,
 10.03,
 8.52,
 1.2,
 91.54,
 52.88,
 20.91,
 74.81,
 62.53,
 22.04,
 49.75,
 91.87,
 60.53,
 65.16,
 46.67,
 6.05,
 80.22,
 22.57,
 89.46,
 86.86,
 17.24,
 91.63,
 33.21,
 82.78,
 25.93,
 19.8,
 56.66,
 48.83,
 16.11,
 82.19,
 29.79,
 65.49,
 4.12,
 48.73,
 12.8,
 97.86,
 92.08,
 39.82,
 51.22,
 88.9,
 23.78,
 72.29,
 66.65,
 51.61,
 0.5,
 84.59,
 28.75,
 90.64,
 11.46,
 21.63,
 47.26,
 69.05,
 59.22,
 74.18,
 49.19,
 44.94,
 46.95,
 75.38,
 39.66,
 91.05,
 49.46,
 61.05,
 92.63,
 22.8,
 97.19,
 18.27,
 20.9,
 92.71,
 12.87,
 78.94,
 15.41,
 42.61,
 40.18,
 35.15,
 19.14,
 99.98,
 89.87,
 42.4,
 50.44,
 74.48,
 19.91,
 63.68,
 74.95,
 46.94,
 97.0,
 80.31,
 62.73,
 72.65,
 77.71,
 13.11,
 87.72,
 26.72,
 64.86,
 15.36,
 22.86,
 1.19,
 99.4,
 99.4,
 99.37,
 79.91,
 69.58,
 3.33,
 89.1,
 86.76,
 67.95,
 58.97,
 17.16,
 27.79,
 52.06,
 25.43,
 19.76,
 66.79,
 87.5,
 17.49,
 26.68]

In [10]:
#approach 2(wrong answer)
exam_scores = [round(i[0]['score'], 2) for i in df['scores']]

In [11]:
exam_scores

[57.93,
 39.18,
 88.23,
 59.18,
 4.44,
 14.34,
 18.2,
 56.82,
 60.19,
 58.83,
 30.93,
 63.1,
 47.39,
 24.05,
 80.62,
 68.93,
 5.23,
 70.33,
 76.02,
 35.48,
 47.72,
 88.81,
 95.99,
 95.8,
 86.26,
 8.94,
 31.09,
 0.6,
 5.47,
 44.49,
 46.18,
 60.14,
 91.6,
 0.65,
 67.51,
 15.37,
 73.48,
 73.04,
 21.58,
 43.65,
 22.39,
 33.4,
 46.18,
 98.35,
 55.41,
 7.22,
 62.87,
 54.54,
 24.77,
 28.34,
 62.6,
 7.34,
 43.23,
 89.13,
 40.25,
 11.46,
 85.3,
 84.87,
 58.04,
 32.06,
 68.49,
 64.93,
 73.51,
 56.73,
 85.31,
 24.14,
 76.44,
 85.21,
 69.18,
 46.41,
 8.56,
 13.21,
 9.88,
 49.62,
 43.93,
 30.86,
 78.2,
 26.99,
 74.52,
 93.69,
 83.05,
 99.7,
 79.77,
 99.49,
 36.82,
 22.32,
 94.08,
 4.44,
 84.22,
 26.11,
 77.02,
 53.36,
 25.84,
 69.74,
 25.58,
 96.97,
 75.93,
 65.21,
 43.78,
 50.45,
 28.45,
 47.52,
 19.1,
 49.38,
 24.21,
 16.78,
 46.16,
 33.73,
 18.14,
 92.88,
 86.11,
 12.07,
 7.23,
 61.47,
 46.2,
 64.0,
 55.94,
 27.69,
 82.81,
 32.89,
 89.94,
 90.03,
 47.17,
 21.11,
 30.87,
 55.05,
 84.12,
 50.24,
 88.67,
 39.86,
 49.56,
 21.96,
 92.68,
 5.58,
 18.56,
 68.06,
 3.06,
 71.88,
 18.26,
 80.37,
 18.66,
 16.92,
 54.63,
 39.81,
 44.98,
 61.5,
 22.98,
 60.29,
 14.0,
 44.08,
 3.8,
 42.23,
 46.27,
 76.7,
 82.15,
 68.82,
 62.48,
 77.15,
 18.49,
 34.14,
 91.1,
 48.54,
 13.57,
 63.16,
 63.87,
 7.2,
 10.03,
 8.52,
 1.2,
 91.54,
 52.88,
 20.91,
 74.81,
 62.53,
 22.04,
 49.75,
 91.87,
 60.53,
 65.16,
 46.67,
 6.05,
 80.22,
 22.57,
 89.46,
 86.86,
 17.24,
 91.63,
 33.21,
 82.78,
 25.93,
 19.8,
 56.66,
 48.83,
 16.11,
 82.19,
 29.79,
 65.49,
 4.12,
 48.73,
 12.8,
 97.86,
 92.08,
 39.82,
 51.22,
 88.9,
 23.78,
 72.29,
 66.65,
 51.61,
 0.5,
 84.59,
 28.75,
 90.64,
 11.46,
 21.63,
 47.26,
 69.05,
 59.22,
 74.18,
 49.19,
 44.94,
 46.95,
 75.38,
 39.66,
 91.05,
 49.46,
 61.05,
 92.63,
 22.8,
 97.19,
 18.27,
 20.9,
 92.71,
 12.87,
 78.94,
 15.41,
 42.61,
 40.18,
 35.15,
 19.14,
 99.98,
 89.87,
 42.4,
 50.44,
 74.48,
 19.91,
 63.68,
 74.95,
 46.94,
 97.0,
 80.31,
 62.73,
 72.65,
 77.71,
 13.11,
 87.72,
 26.72,
 64.86,
 15.36,
 22.86,
 1.19,
 99.4,
 99.4,
 99.37,
 79.91,
 69.58,
 3.33,
 89.1,
 86.76,
 67.95,
 58.97,
 17.16,
 27.79,
 52.06,
 25.43,
 19.76,
 66.79,
 87.5,
 17.49,
 26.68]

In [36]:
#mean of all the elements in the list
""" homework_score = []
for i in range(len(df['scores'])):
    homework_score = re.findall('\d+.\d+', str(df['scores'][i][2:]))
    #print(list(map(float, li)))
    
    print(round(np.mean(list(map(float, homework_score))), 2))"""

" homework_score = []\nfor i in range(len(df['scores'])):\n    homework_score = re.findall('\\d+.\\d+', str(df['scores'][i][2:]))\n    #print(list(map(float, li)))\n    \n    print(round(np.mean(list(map(float, homework_score))), 2))"

In [34]:
homework_score = []
for i in range(len(df['scores'])):
    homework_score.append(round(sum(list(map(float, re.findall('\d+.\d+', str(df['scores'][i][2:])))))/len(df['scores'][i][2:]), 2))

In [35]:
homework_score

[51.65,
 48.94,
 37.29,
 51.12,
 85.35,
 57.72,
 74.04,
 73.18,
 82.81,
 49.05,
 59.41,
 34.69,
 24.75,
 80.02,
 63.43,
 50.0,
 49.35,
 78.95,
 48.69,
 62.63,
 77.05,
 27.45,
 28.3,
 79.61,
 65.54,
 56.07,
 38.85,
 64.12,
 72.57,
 63.64,
 66.8,
 38.88,
 67.87,
 49.42,
 60.25,
 62.13,
 63.73,
 35.59,
 46.35,
 71.01,
 49.96,
 65.41,
 38.58,
 47.36,
 5.33,
 41.97,
 32.34,
 26.46,
 34.32,
 42.41,
 59.89,
 84.12,
 69.13,
 36.18,
 47.14,
 61.65,
 88.8,
 33.42,
 98.92,
 7.11,
 48.58,
 59.41,
 85.84,
 45.72,
 50.51,
 34.56,
 47.23,
 52.77,
 47.43,
 46.31,
 51.99,
 13.59,
 68.15,
 51.82,
 35.32,
 92.25,
 41.99,
 70.65,
 44.89,
 31.46,
 43.27,
 93.56,
 53.63,
 13.96,
 46.2,
 19.4,
 26.19,
 40.47,
 48.14,
 42.46,
 45.85,
 22.42,
 58.38,
 87.0,
 26.28,
 33.16,
 64.7,
 33.41,
 39.08,
 63.59,
 66.01,
 72.53,
 23.57,
 43.92,
 52.52,
 10.42,
 57.29,
 73.13,
 37.03,
 53.06,
 56.44,
 28.85,
 52.69,
 49.99,
 53.76,
 42.92,
 44.52,
 49.03,
 91.91,
 11.5,
 43.28,
 63.82,
 49.66,
 78.34,
 45.13,
 79.95,
 36.83,
 54.74,
 12.81,
 25.77,
 9.62,
 51.8,
 42.3,
 50.36,
 20.41,
 67.52,
 50.97,
 55.71,
 29.46,
 22.58,
 37.73,
 25.93,
 64.12,
 10.47,
 77.66,
 43.03,
 37.2,
 46.43,
 43.13,
 34.99,
 59.55,
 40.26,
 33.97,
 23.83,
 54.04,
 73.24,
 16.79,
 15.41,
 29.6,
 62.99,
 42.9,
 39.83,
 72.4,
 6.93,
 93.75,
 33.23,
 95.52,
 33.56,
 81.25,
 23.03,
 66.67,
 49.59,
 15.48,
 37.64,
 35.24,
 21.61,
 59.75,
 61.97,
 60.07,
 46.99,
 48.25,
 40.62,
 52.81,
 34.04,
 51.79,
 54.36,
 15.77,
 84.51,
 58.22,
 50.02,
 48.62,
 34.07,
 60.66,
 87.06,
 61.74,
 44.81,
 13.18,
 34.94,
 43.06,
 65.5,
 61.5,
 37.72,
 44.14,
 43.91,
 35.02,
 4.93,
 85.81,
 89.81,
 54.83,
 24.73,
 30.98,
 24.96,
 54.72,
 32.89,
 25.11,
 51.6,
 45.48,
 87.46,
 40.23,
 63.81,
 59.7,
 46.58,
 52.62,
 49.31,
 37.9,
 26.17,
 17.25,
 28.3,
 16.54,
 50.17,
 33.78,
 44.25,
 30.9,
 31.79,
 57.39,
 73.78,
 34.39,
 11.83,
 82.67,
 49.43,
 57.65,
 30.42,
 48.49,
 50.72,
 73.56,
 28.39,
 94.43,
 45.23,
 43.3,
 35.47,
 49.49,
 42.14,
 74.33,
 78.95,
 57.13,
 54.77,
 58.67,
 64.56,
 35.19,
 32.09,
 67.12,
 25.49,
 45.45,
 47.19,
 79.66,
 47.28,
 73.9,
 29.69,
 32.7,
 50.06,
 33.05,
 41.89,
 73.49,
 50.36,
 4.79,
 30.8,
 84.03,
 60.19,
 52.28,
 20.08]

In [37]:
new_df = pd.DataFrame({"id":df['_id'], "student_id":df['student_id'], "class_id":df['class_id'], 
                    "exam_score": exam_score, "quiz_score": quiz_score, "homework_score": homework_score})

In [38]:
new_df

,id,student_id,class_id,exam_score,quiz_score,homework_score
0,50b59cd75bed76f46522c34e,0,2,57.93,21.25,51.65
1,50b59cd75bed76f46522c34f,0,28,39.18,78.44,48.94
2,50b59cd75bed76f46522c350,0,5,88.23,79.29,37.29
3,50b59cd75bed76f46522c351,0,16,59.18,47.59,51.12
4,50b59cd75bed76f46522c352,0,24,4.44,28.63,85.35
...,...,...,...,...,...,...
275,50b59cd75bed76f46522c461,48,10,19.76,88.30,30.80
276,50b59cd75bed76f46522c462,48,14,66.79,6.84,84.03
277,50b59cd75bed76f46522c463,48,8,87.50,77.95,60.19
278,50b59cd75bed76f46522c464,48,15,17.49,26.63,52.28
279,50b59cd75bed76f46522c465,49,29,26.68,43.35,20.08