In [25]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [47]:
url = "https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/grades.json"

In [48]:
df = pd.read_json(url, lines=True)
df

,_id,student_id,class_id,scores
0,{'$oid': '50b59cd75bed76f46522c34e'},0,2,"[{'type': 'exam', 'score': 57.92947112575566},..."
1,{'$oid': '50b59cd75bed76f46522c34f'},0,28,"[{'type': 'exam', 'score': 39.17749400402234},..."
2,{'$oid': '50b59cd75bed76f46522c350'},0,5,"[{'type': 'exam', 'score': 88.22950674232497},..."
3,{'$oid': '50b59cd75bed76f46522c351'},0,16,"[{'type': 'exam', 'score': 59.1805667559299}, ..."
4,{'$oid': '50b59cd75bed76f46522c352'},0,24,"[{'type': 'exam', 'score': 4.444435759027499},..."
...,...,...,...,...
275,{'$oid': '50b59cd75bed76f46522c461'},48,10,"[{'type': 'exam', 'score': 19.75901367795435},..."
276,{'$oid': '50b59cd75bed76f46522c462'},48,14,"[{'type': 'exam', 'score': 66.79008851052096},..."
277,{'$oid': '50b59cd75bed76f46522c463'},48,8,"[{'type': 'exam', 'score': 87.50309579619501},..."
278,{'$oid': '50b59cd75bed76f46522c464'},48,15,"[{'type': 'exam', 'score': 17.49112864462374},..."
279,{'$oid': '50b59cd75bed76f46522c465'},49,29,"[{'type': 'exam', 'score': 26.67878234847454},..."

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 280 entries, 0 to 279
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         280 non-null    object
 1   student_id  280 non-null    int64
 2   class_id    280 non-null    int64
 3   scores      280 non-null    object
dtypes: int64(2), object(2)
memory usage: 10.9+ KB

Removing unwanted data

In [50]:
#such as in id = {'$oid': '50b59cd75bed76f46522c34e'} we only need '50b59cd75bed76f46522c34e' so
for i in range(df.shape[0]):
    #In '_id' is a dictionary and extract the value of '$oid'
    df['_id'] = df['_id'].apply(lambda x: x['$oid'] if isinstance(x, dict) and '$oid' in x else x)

In [51]:
df

,_id,student_id,class_id,scores
0,50b59cd75bed76f46522c34e,0,2,"[{'type': 'exam', 'score': 57.92947112575566},..."
1,50b59cd75bed76f46522c34f,0,28,"[{'type': 'exam', 'score': 39.17749400402234},..."
2,50b59cd75bed76f46522c350,0,5,"[{'type': 'exam', 'score': 88.22950674232497},..."
3,50b59cd75bed76f46522c351,0,16,"[{'type': 'exam', 'score': 59.1805667559299}, ..."
4,50b59cd75bed76f46522c352,0,24,"[{'type': 'exam', 'score': 4.444435759027499},..."
...,...,...,...,...
275,50b59cd75bed76f46522c461,48,10,"[{'type': 'exam', 'score': 19.75901367795435},..."
276,50b59cd75bed76f46522c462,48,14,"[{'type': 'exam', 'score': 66.79008851052096},..."
277,50b59cd75bed76f46522c463,48,8,"[{'type': 'exam', 'score': 87.50309579619501},..."
278,50b59cd75bed76f46522c464,48,15,"[{'type': 'exam', 'score': 17.49112864462374},..."
279,50b59cd75bed76f46522c465,49,29,"[{'type': 'exam', 'score': 26.67878234847454},..."

In [52]:
df.scores[0]

[{'type': 'exam', 'score': 57.92947112575566},
 {'type': 'quiz', 'score': 21.24542588206755},
 {'type': 'homework', 'score': 68.1956781058743},
 {'type': 'homework', 'score': 67.95019716560351},
 {'type': 'homework', 'score': 18.81037253352722}]

Making 3 columns -> exam_score, quiz_score, homework_score
Final output -> id, student_id, class_id, exam_score, quiz_score, homework_score

In [76]:
#List Comprehension
#approach 1
exam_score = [round(float(re.sub('^{.*: |}', '', str(df['scores'][i][0]))), 2) for i in range(len(df['scores']))]
quiz_score = [round(float(re.sub('^{.*: |}', '', str(df['scores'][i][1]))), 2) for i in range(len(df['scores']))]

homework_score = [round(float(re.sub('^{.*: |}', '', str(df['scores'][i][2]))), 2) for i in range(len(df['scores']))]

In [74]:
exam_score

[57.93,
 39.18,
 88.23,
 59.18,
 4.44,
 14.34,
 18.2,
 56.82,
 60.19,
 58.83,
 30.93,
 63.1,
 47.39,
 24.05,
 80.62,
 68.93,
 5.23,
 70.33,
 76.02,
 35.48,
 47.72,
 88.81,
 95.99,
 95.8,
 86.26,
 8.94,
 31.09,
 0.6,
 5.47,
 44.49,
 46.18,
 60.14,
 91.6,
 0.65,
 67.51,
 15.37,
 73.48,
 73.04,
 21.58,
 43.65,
 22.39,
 33.4,
 46.18,
 98.35,
 55.41,
 7.22,
 62.87,
 54.54,
 24.77,
 28.34,
 62.6,
 7.34,
 43.23,
 89.13,
 40.25,
 11.46,
 85.3,
 84.87,
 58.04,
 32.06,
 68.49,
 64.93,
 73.51,
 56.73,
 85.31,
 24.14,
 76.44,
 85.21,
 69.18,
 46.41,
 8.56,
 13.21,
 9.88,
 49.62,
 43.93,
 30.86,
 78.2,
 26.99,
 74.52,
 93.69,
 83.05,
 99.7,
 79.77,
 99.49,
 36.82,
 22.32,
 94.08,
 4.44,
 84.22,
 26.11,
 77.02,
 53.36,
 25.84,
 69.74,
 25.58,
 96.97,
 75.93,
 65.21,
 43.78,
 50.45,
 28.45,
 47.52,
 19.1,
 49.38,
 24.21,
 16.78,
 46.16,
 33.73,
 18.14,
 92.88,
 86.11,
 12.07,
 7.23,
 61.47,
 46.2,
 64.0,
 55.94,
 27.69,
 82.81,
 32.89,
 89.94,
 90.03,
 47.17,
 21.11,
 30.87,
 55.05,
 84.12,
 50.24,
 88.67,
 39.86,
 49.56,
 21.96,
 92.68,
 5.58,
 18.56,
 68.06,
 3.06,
 71.88,
 18.26,
 80.37,
 18.66,
 16.92,
 54.63,
 39.81,
 44.98,
 61.5,
 22.98,
 60.29,
 14.0,
 44.08,
 3.8,
 42.23,
 46.27,
 76.7,
 82.15,
 68.82,
 62.48,
 77.15,
 18.49,
 34.14,
 91.1,
 48.54,
 13.57,
 63.16,
 63.87,
 7.2,
 10.03,
 8.52,
 1.2,
 91.54,
 52.88,
 20.91,
 74.81,
 62.53,
 22.04,
 49.75,
 91.87,
 60.53,
 65.16,
 46.67,
 6.05,
 80.22,
 22.57,
 89.46,
 86.86,
 17.24,
 91.63,
 33.21,
 82.78,
 25.93,
 19.8,
 56.66,
 48.83,
 16.11,
 82.19,
 29.79,
 65.49,
 4.12,
 48.73,
 12.8,
 97.86,
 92.08,
 39.82,
 51.22,
 88.9,
 23.78,
 72.29,
 66.65,
 51.61,
 0.5,
 84.59,
 28.75,
 90.64,
 11.46,
 21.63,
 47.26,
 69.05,
 59.22,
 74.18,
 49.19,
 44.94,
 46.95,
 75.38,
 39.66,
 91.05,
 49.46,
 61.05,
 92.63,
 22.8,
 97.19,
 18.27,
 20.9,
 92.71,
 12.87,
 78.94,
 15.41,
 42.61,
 40.18,
 35.15,
 19.14,
 99.98,
 89.87,
 42.4,
 50.44,
 74.48,
 19.91,
 63.68,
 74.95,
 46.94,
 97.0,
 80.31,
 62.73,
 72.65,
 77.71,
 13.11,
 87.72,
 26.72,
 64.86,
 15.36,
 22.86,
 1.19,
 99.4,
 99.4,
 99.37,
 79.91,
 69.58,
 3.33,
 89.1,
 86.76,
 67.95,
 58.97,
 17.16,
 27.79,
 52.06,
 25.43,
 19.76,
 66.79,
 87.5,
 17.49,
 26.68]

In [78]:
#approach 2
exam_scores = [round(i[0]['score'], 2) for i in df['scores']]

In [79]:
exam_scores

[57.93,
 39.18,
 88.23,
 59.18,
 4.44,
 14.34,
 18.2,
 56.82,
 60.19,
 58.83,
 30.93,
 63.1,
 47.39,
 24.05,
 80.62,
 68.93,
 5.23,
 70.33,
 76.02,
 35.48,
 47.72,
 88.81,
 95.99,
 95.8,
 86.26,
 8.94,
 31.09,
 0.6,
 5.47,
 44.49,
 46.18,
 60.14,
 91.6,
 0.65,
 67.51,
 15.37,
 73.48,
 73.04,
 21.58,
 43.65,
 22.39,
 33.4,
 46.18,
 98.35,
 55.41,
 7.22,
 62.87,
 54.54,
 24.77,
 28.34,
 62.6,
 7.34,
 43.23,
 89.13,
 40.25,
 11.46,
 85.3,
 84.87,
 58.04,
 32.06,
 68.49,
 64.93,
 73.51,
 56.73,
 85.31,
 24.14,
 76.44,
 85.21,
 69.18,
 46.41,
 8.56,
 13.21,
 9.88,
 49.62,
 43.93,
 30.86,
 78.2,
 26.99,
 74.52,
 93.69,
 83.05,
 99.7,
 79.77,
 99.49,
 36.82,
 22.32,
 94.08,
 4.44,
 84.22,
 26.11,
 77.02,
 53.36,
 25.84,
 69.74,
 25.58,
 96.97,
 75.93,
 65.21,
 43.78,
 50.45,
 28.45,
 47.52,
 19.1,
 49.38,
 24.21,
 16.78,
 46.16,
 33.73,
 18.14,
 92.88,
 86.11,
 12.07,
 7.23,
 61.47,
 46.2,
 64.0,
 55.94,
 27.69,
 82.81,
 32.89,
 89.94,
 90.03,
 47.17,
 21.11,
 30.87,
 55.05,
 84.12,
 50.24,
 88.67,
 39.86,
 49.56,
 21.96,
 92.68,
 5.58,
 18.56,
 68.06,
 3.06,
 71.88,
 18.26,
 80.37,
 18.66,
 16.92,
 54.63,
 39.81,
 44.98,
 61.5,
 22.98,
 60.29,
 14.0,
 44.08,
 3.8,
 42.23,
 46.27,
 76.7,
 82.15,
 68.82,
 62.48,
 77.15,
 18.49,
 34.14,
 91.1,
 48.54,
 13.57,
 63.16,
 63.87,
 7.2,
 10.03,
 8.52,
 1.2,
 91.54,
 52.88,
 20.91,
 74.81,
 62.53,
 22.04,
 49.75,
 91.87,
 60.53,
 65.16,
 46.67,
 6.05,
 80.22,
 22.57,
 89.46,
 86.86,
 17.24,
 91.63,
 33.21,
 82.78,
 25.93,
 19.8,
 56.66,
 48.83,
 16.11,
 82.19,
 29.79,
 65.49,
 4.12,
 48.73,
 12.8,
 97.86,
 92.08,
 39.82,
 51.22,
 88.9,
 23.78,
 72.29,
 66.65,
 51.61,
 0.5,
 84.59,
 28.75,
 90.64,
 11.46,
 21.63,
 47.26,
 69.05,
 59.22,
 74.18,
 49.19,
 44.94,
 46.95,
 75.38,
 39.66,
 91.05,
 49.46,
 61.05,
 92.63,
 22.8,
 97.19,
 18.27,
 20.9,
 92.71,
 12.87,
 78.94,
 15.41,
 42.61,
 40.18,
 35.15,
 19.14,
 99.98,
 89.87,
 42.4,
 50.44,
 74.48,
 19.91,
 63.68,
 74.95,
 46.94,
 97.0,
 80.31,
 62.73,
 72.65,
 77.71,
 13.11,
 87.72,
 26.72,
 64.86,
 15.36,
 22.86,
 1.19,
 99.4,
 99.4,
 99.37,
 79.91,
 69.58,
 3.33,
 89.1,
 86.76,
 67.95,
 58.97,
 17.16,
 27.79,
 52.06,
 25.43,
 19.76,
 66.79,
 87.5,
 17.49,
 26.68]