# PROJECT 2

> IMPORT libraries

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

- Steps 
> 1. Converting the Json data into a DataFrame 
> 2. Explore the data
> 3. Clean and manipulate the data
> 4. Analysis of data 
> 5. Conclusion

In [3]:
# Step 1
df = pd.read_json('https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/books.json', lines = True)
df

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,1933988673,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",1935182722,592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,1617290084,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,1933988746,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,1935182420,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]
...,...,...,...,...,...,...,...,...,...,...,...
426,{'$oid': '53c2ae8528d75d572c06adb8'},DSLs in Action,1935182455,376,{'$date': '2010-12-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,DSLs in Action introduces the concepts and def...,"On any given day, a developer may encounter a ...",PUBLISH,[],[]
427,{'$oid': '53c2ae8528d75d572c06adb9'},Database Programming for Handheld Devices,1884777856,0,{'$date': '2000-07-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]
428,{'$oid': '53c2ae8528d75d572c06adba'},Jakarta Commons Online Bookshelf,1932394524,402,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,Written for developers and architects with rea...,PUBLISH,[],[]
429,{'$oid': '53c2ae8528d75d572c06adbb'},Browsing with HttpClient,1932394524a-e,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Written for developers and architects with rea...,NaN,PUBLISH,[],[]
430,{'$oid': '53c2ae8528d75d572c06adbc'},Codec: Encoders and Decoders,1932394524j-e,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]

In [7]:
# Step 2 (Data exploration) - Printing all the columns 
df.columns

Index(['_id', 'title', 'isbn', 'pageCount', 'publishedDate', 'thumbnailUrl',
       'shortDescription', 'longDescription', 'status', 'authors',
       'categories'],
      dtype='object')

In [9]:
df.describe()

         pageCount
count   431.000000
mean    289.259861
std     260.873349
min       0.000000
25%       0.000000
50%     350.000000
75%     475.000000
max    1101.000000

In [10]:
df.isnull().sum()

_id                   0
title                 0
isbn                  3
pageCount             0
publishedDate        78
thumbnailUrl         20
shortDescription    271
longDescription     168
status                0
authors               0
categories            0
dtype: int64